WebLegadoEducativo02/Web References/WS_LE_ConsProductOferta/WS_LE_ConsProductOferta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsProductOfert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="quoteid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsProductOfertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsProductOfertResult" type="tns:ArrayOfCsProductOferta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCsProductOferta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CsProductOferta" nillable="true" type="tns:CsProductOferta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CsProductOferta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="quotedetailid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="quoteid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udem_programaacademico_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udem_programaacademico_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udem_le_creditosporproducto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udem_le_semestresporproducto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="product_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="product_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="uom_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="uom_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udem_tipodeperiodo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udem_unidadacotizar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udem_cantidadacotizar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udem_le_porcentajebeca" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udem_le_semestrestotales" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="quantity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="priceperunit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="baseamount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="new_unidadudem_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="new_unidadudem_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsProductOfertSoapIn">
    <wsdl:part name="parameters" element="tns:ConsProductOfert" />
  </wsdl:message>
  <wsdl:message name="ConsProductOfertSoapOut">
    <wsdl:part name="parameters" element="tns:ConsProductOfertResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_LE_ConsProductOfertaSoap">
    <wsdl:operation name="ConsProductOfert">
      <wsdl:input message="tns:ConsProductOfertSoapIn" />
      <wsdl:output message="tns:ConsProductOfertSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_LE_ConsProductOfertaSoap" type="tns:WS_LE_ConsProductOfertaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsProductOfert">
      <soap:operation soapAction="http://tempuri.org/ConsProductOfert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_LE_ConsProductOfertaSoap12" type="tns:WS_LE_ConsProductOfertaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsProductOfert">
      <soap12:operation soapAction="http://tempuri.org/ConsProductOfert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_LE_ConsProductOferta">
    <wsdl:port name="WS_LE_ConsProductOfertaSoap" binding="tns:WS_LE_ConsProductOfertaSoap">
      <soap:address location="http://eventosudemtst.udem.edu.mx:8087/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsProductOferta.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_LE_ConsProductOfertaSoap12" binding="tns:WS_LE_ConsProductOfertaSoap12">
      <soap12:address location="http://eventosudemtst.udem.edu.mx:8087/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsProductOferta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>