WebLegadoEducativo02/Web References/WS_LE_ProgramaAcademico/WS_LE_ProgramaAcademico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsProgramaAcademico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="disponibleLE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsProgramaAcademicoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsProgramaAcademicoResult" type="tns:ArrayOfCsProgramaAcademico" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCsProgramaAcademico">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CsProgramaAcademico" nillable="true" type="tns:CsProgramaAcademico" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CsProgramaAcademico">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="new_programaacademicoid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="new_programa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="new_siglas" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="new_nivelacademico_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="new_nivelacademico_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="new_division_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="new_division_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="recr_campusid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="recr_campus_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udem_disponiblele" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udem_creditosporprograma" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udem_semestresporprograma" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udem_tipodeperiodo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udem_productorelacionado_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udem_productorelacionado_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsProgramaAcademicoGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="disponibleLE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="new_programaacademicoid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsProgramaAcademicoGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsProgramaAcademicoGuidResult" type="tns:ArrayOfCsProgramaAcademico" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsProgramaAcademicoSoapIn">
    <wsdl:part name="parameters" element="tns:ConsProgramaAcademico" />
  </wsdl:message>
  <wsdl:message name="ConsProgramaAcademicoSoapOut">
    <wsdl:part name="parameters" element="tns:ConsProgramaAcademicoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsProgramaAcademicoGuidSoapIn">
    <wsdl:part name="parameters" element="tns:ConsProgramaAcademicoGuid" />
  </wsdl:message>
  <wsdl:message name="ConsProgramaAcademicoGuidSoapOut">
    <wsdl:part name="parameters" element="tns:ConsProgramaAcademicoGuidResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_LE_ProgramaAcademicoSoap">
    <wsdl:operation name="ConsProgramaAcademico">
      <wsdl:input message="tns:ConsProgramaAcademicoSoapIn" />
      <wsdl:output message="tns:ConsProgramaAcademicoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsProgramaAcademicoGuid">
      <wsdl:input message="tns:ConsProgramaAcademicoGuidSoapIn" />
      <wsdl:output message="tns:ConsProgramaAcademicoGuidSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_LE_ProgramaAcademicoSoap" type="tns:WS_LE_ProgramaAcademicoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsProgramaAcademico">
      <soap:operation soapAction="http://tempuri.org/ConsProgramaAcademico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsProgramaAcademicoGuid">
      <soap:operation soapAction="http://tempuri.org/ConsProgramaAcademicoGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_LE_ProgramaAcademicoSoap12" type="tns:WS_LE_ProgramaAcademicoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsProgramaAcademico">
      <soap12:operation soapAction="http://tempuri.org/ConsProgramaAcademico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsProgramaAcademicoGuid">
      <soap12:operation soapAction="http://tempuri.org/ConsProgramaAcademicoGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_LE_ProgramaAcademico">
    <wsdl:port name="WS_LE_ProgramaAcademicoSoap" binding="tns:WS_LE_ProgramaAcademicoSoap">
      <soap:address location="http://eventosudemtst.udem.edu.mx:8087/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ProgramaAcademico.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_LE_ProgramaAcademicoSoap12" binding="tns:WS_LE_ProgramaAcademicoSoap12">
      <soap12:address location="http://eventosudemtst.udem.edu.mx:8087/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ProgramaAcademico.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>