WebLegadoEducativo02/Web References/WS_LE_ConsOferta/WS_LE_ConsOferta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsOfert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="opportunityid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsOfertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsOfertResult" type="tns:ArrayOfCsOferta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCsOferta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CsOferta" nillable="true" type="tns:CsOferta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CsOferta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="quoteid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udem_importetotalenletra" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="transactioncurrency_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="transactioncurrency_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pricelevel_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pricelevel_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="opportunity_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="opportunity_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udem_solicituddecompra_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udem_solicituddecompra_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customer_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customer_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsOfertSoapIn">
    <wsdl:part name="parameters" element="tns:ConsOfert" />
  </wsdl:message>
  <wsdl:message name="ConsOfertSoapOut">
    <wsdl:part name="parameters" element="tns:ConsOfertResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_LE_ConsOfertaSoap">
    <wsdl:operation name="ConsOfert">
      <wsdl:input message="tns:ConsOfertSoapIn" />
      <wsdl:output message="tns:ConsOfertSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_LE_ConsOfertaSoap" type="tns:WS_LE_ConsOfertaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsOfert">
      <soap:operation soapAction="http://tempuri.org/ConsOfert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_LE_ConsOfertaSoap12" type="tns:WS_LE_ConsOfertaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsOfert">
      <soap12:operation soapAction="http://tempuri.org/ConsOfert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_LE_ConsOferta">
    <wsdl:port name="WS_LE_ConsOfertaSoap" binding="tns:WS_LE_ConsOfertaSoap">
      <soap:address location="http://eventosudemtst.udem.edu.mx:8087/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsOferta.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_LE_ConsOfertaSoap12" binding="tns:WS_LE_ConsOfertaSoap12">
      <soap12:address location="http://eventosudemtst.udem.edu.mx:8087/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsOferta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>