WebLegadoEducativo02/Web References/WS_LE_ConsProducto/WS_LE_ConsProducto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="area" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsProductoResult" type="tns:ArrayOfCsProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCsProducto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CsProducto" nillable="true" type="tns:CsProducto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CsProducto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="productid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="productnumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="validfromdate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="validtodate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="defaultuomscheduleid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="defaultuomschedule_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="defaultuomid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="defaultuom_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pricelevelid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pricelevel_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="quantitydecimal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsProductoSoapIn">
    <wsdl:part name="parameters" element="tns:ConsProducto" />
  </wsdl:message>
  <wsdl:message name="ConsProductoSoapOut">
    <wsdl:part name="parameters" element="tns:ConsProductoResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_LE_ConsProductoSoap">
    <wsdl:operation name="ConsProducto">
      <wsdl:input message="tns:ConsProductoSoapIn" />
      <wsdl:output message="tns:ConsProductoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_LE_ConsProductoSoap" type="tns:WS_LE_ConsProductoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsProducto">
      <soap:operation soapAction="http://tempuri.org/ConsProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_LE_ConsProductoSoap12" type="tns:WS_LE_ConsProductoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsProducto">
      <soap12:operation soapAction="http://tempuri.org/ConsProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_LE_ConsProducto">
    <wsdl:port name="WS_LE_ConsProductoSoap" binding="tns:WS_LE_ConsProductoSoap">
      <soap:address location="http://eventosudemtst.udem.edu.mx:8087/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsProducto.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_LE_ConsProductoSoap12" binding="tns:WS_LE_ConsProductoSoap12">
      <soap12:address location="http://eventosudemtst.udem.edu.mx:8087/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsProducto.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>