WebLegadoEducativo02/Web References/WS_LE_ConsUnidadUDEM/WS_LE_ConsUnidadUDEM.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsUnidadUDEM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nivel" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsUnidadUDEMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsUnidadUDEMResult" type="tns:ArrayOfCsUnidadUDEM" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCsUnidadUDEM">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CsUnidadUDEM" nillable="true" type="tns:CsUnidadUDEM" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CsUnidadUDEM">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="new_unidadudemid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="new_siglas" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="new_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="recr_displayorder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="recr_nivelacademico" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsUnidadUDEMSoapIn">
    <wsdl:part name="parameters" element="tns:ConsUnidadUDEM" />
  </wsdl:message>
  <wsdl:message name="ConsUnidadUDEMSoapOut">
    <wsdl:part name="parameters" element="tns:ConsUnidadUDEMResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_LE_ConsUnidadUDEMSoap">
    <wsdl:operation name="ConsUnidadUDEM">
      <wsdl:input message="tns:ConsUnidadUDEMSoapIn" />
      <wsdl:output message="tns:ConsUnidadUDEMSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_LE_ConsUnidadUDEMSoap" type="tns:WS_LE_ConsUnidadUDEMSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsUnidadUDEM">
      <soap:operation soapAction="http://tempuri.org/ConsUnidadUDEM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_LE_ConsUnidadUDEMSoap12" type="tns:WS_LE_ConsUnidadUDEMSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsUnidadUDEM">
      <soap12:operation soapAction="http://tempuri.org/ConsUnidadUDEM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_LE_ConsUnidadUDEM">
    <wsdl:port name="WS_LE_ConsUnidadUDEMSoap" binding="tns:WS_LE_ConsUnidadUDEMSoap">
      <soap:address location="http://eventosudemtst.udem.edu.mx:8087/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsUnidadUDEM.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_LE_ConsUnidadUDEMSoap12" binding="tns:WS_LE_ConsUnidadUDEMSoap12">
      <soap12:address location="http://eventosudemtst.udem.edu.mx:8087/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsUnidadUDEM.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>