WebLegadoEducativo02/Web References/WS_LE_Cotizaciones/WS_LE_Cotizaciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsCotizacionHead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pricelevelid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="opportunityid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_solicituddecompra" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsCotizacionHeadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsCotizacionHeadResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Respuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoMs" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Guid" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsCotizacionProdu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="quoteid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_programaacademico" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_le_creditosporproducto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_le_semestresporproducto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uomid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_tipodeperiodo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_unidadacotizar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_cantidadacotizar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_le_porcentajebeca" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_le_semestrestotales" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="quantity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="priceperunit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="baseamount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="new_unidadudem" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsCotizacionProduResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsCotizacionProduResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdtCotizacionProdu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="quotedetailid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="quoteid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_programaacademico" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_le_creditosporproducto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_le_semestresporproducto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uomid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_tipodeperiodo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_unidadacotizar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_cantidadacotizar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_le_porcentajebeca" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_le_semestrestotales" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="quantity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="priceperunit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="baseamount" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdtCotizacionProduResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdtCotizacionProduResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsCotizacionHeadSoapIn">
    <wsdl:part name="parameters" element="tns:InsCotizacionHead" />
  </wsdl:message>
  <wsdl:message name="InsCotizacionHeadSoapOut">
    <wsdl:part name="parameters" element="tns:InsCotizacionHeadResponse" />
  </wsdl:message>
  <wsdl:message name="InsCotizacionProduSoapIn">
    <wsdl:part name="parameters" element="tns:InsCotizacionProdu" />
  </wsdl:message>
  <wsdl:message name="InsCotizacionProduSoapOut">
    <wsdl:part name="parameters" element="tns:InsCotizacionProduResponse" />
  </wsdl:message>
  <wsdl:message name="UpdtCotizacionProduSoapIn">
    <wsdl:part name="parameters" element="tns:UpdtCotizacionProdu" />
  </wsdl:message>
  <wsdl:message name="UpdtCotizacionProduSoapOut">
    <wsdl:part name="parameters" element="tns:UpdtCotizacionProduResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_LE_CotizacionesSoap">
    <wsdl:operation name="InsCotizacionHead">
      <wsdl:input message="tns:InsCotizacionHeadSoapIn" />
      <wsdl:output message="tns:InsCotizacionHeadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsCotizacionProdu">
      <wsdl:input message="tns:InsCotizacionProduSoapIn" />
      <wsdl:output message="tns:InsCotizacionProduSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdtCotizacionProdu">
      <wsdl:input message="tns:UpdtCotizacionProduSoapIn" />
      <wsdl:output message="tns:UpdtCotizacionProduSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_LE_CotizacionesSoap" type="tns:WS_LE_CotizacionesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsCotizacionHead">
      <soap:operation soapAction="http://tempuri.org/InsCotizacionHead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsCotizacionProdu">
      <soap:operation soapAction="http://tempuri.org/InsCotizacionProdu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdtCotizacionProdu">
      <soap:operation soapAction="http://tempuri.org/UpdtCotizacionProdu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_LE_CotizacionesSoap12" type="tns:WS_LE_CotizacionesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsCotizacionHead">
      <soap12:operation soapAction="http://tempuri.org/InsCotizacionHead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsCotizacionProdu">
      <soap12:operation soapAction="http://tempuri.org/InsCotizacionProdu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdtCotizacionProdu">
      <soap12:operation soapAction="http://tempuri.org/UpdtCotizacionProdu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_LE_Cotizaciones">
    <wsdl:port name="WS_LE_CotizacionesSoap" binding="tns:WS_LE_CotizacionesSoap">
      <soap:address location="http://eventosudemtst.udem.edu.mx:8087/UDEMDESA/LegadoEducativo/WS_Cotizaciones_LE/WS_LE_Cotizaciones.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_LE_CotizacionesSoap12" binding="tns:WS_LE_CotizacionesSoap12">
      <soap12:address location="http://eventosudemtst.udem.edu.mx:8087/UDEMDESA/LegadoEducativo/WS_Cotizaciones_LE/WS_LE_Cotizaciones.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>