WebLegadoEducativo02/WebLegadoEducativo02/Web References/WS_LE_ConsFuenteLead/WS_LE_ConsFuenteLead.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConFuenteLead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dummy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConFuenteLeadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConFuenteLeadResult" type="tns:ArrayOfCsFuenteLead" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCsFuenteLead">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CsFuenteLead" nillable="true" type="tns:CsFuenteLead" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CsFuenteLead">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="udem_fuentedeleadid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udem_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udem_tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udem_categoria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConFuenteLeadSoapIn">
    <wsdl:part name="parameters" element="tns:ConFuenteLead" />
  </wsdl:message>
  <wsdl:message name="ConFuenteLeadSoapOut">
    <wsdl:part name="parameters" element="tns:ConFuenteLeadResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_LE_ConsFuenteLeadSoap">
    <wsdl:operation name="ConFuenteLead">
      <wsdl:input message="tns:ConFuenteLeadSoapIn" />
      <wsdl:output message="tns:ConFuenteLeadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_LE_ConsFuenteLeadSoap" type="tns:WS_LE_ConsFuenteLeadSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConFuenteLead">
      <soap:operation soapAction="http://tempuri.org/ConFuenteLead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_LE_ConsFuenteLeadSoap12" type="tns:WS_LE_ConsFuenteLeadSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConFuenteLead">
      <soap12:operation soapAction="http://tempuri.org/ConFuenteLead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_LE_ConsFuenteLead">
    <wsdl:port name="WS_LE_ConsFuenteLeadSoap" binding="tns:WS_LE_ConsFuenteLeadSoap">
      <soap:address location="http://localhost/DesarrolloUDEM/Legado%20Educativo/WS_LegadoEducativo/WS_LE_ConsFuenteLead.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_LE_ConsFuenteLeadSoap12" binding="tns:WS_LE_ConsFuenteLeadSoap12">
      <soap12:address location="http://localhost/DesarrolloUDEM/Legado%20Educativo/WS_LegadoEducativo/WS_LE_ConsFuenteLead.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>