WebLegadoEducativo02/WebLegadoEducativo02/Web References/WS_LE_InsertaClientePotencial/WS_LE_InsertaClientePotencial.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsClientPotencial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="udem_asunto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="middlename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_apellidopaterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_apellidomaterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_fechadenacimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_contactoprincipal_diceserexalumno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_informacionadicional" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_informacion_pareja" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_pareja_diceserexalumno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_informacion_hijos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobilephone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telephone2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telephone1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailaddress1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="preferredcontactmethodcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_niveldelegado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="leadqualitycode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_le_fuentedelead" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_le_fuentedelead_subcategoria" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_le_empresaocolegiodelafuente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_le_otrafuentedelead" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_le_referido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_le_evento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_le_eventocatalogo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_le_otroevento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_le_fechaevento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsClientPotencialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsClientPotencialResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Respuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoMs" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Guid" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CalificaLead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Lead" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalificaLeadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalificaLeadResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsClientPotencialSoapIn">
    <wsdl:part name="parameters" element="tns:InsClientPotencial" />
  </wsdl:message>
  <wsdl:message name="InsClientPotencialSoapOut">
    <wsdl:part name="parameters" element="tns:InsClientPotencialResponse" />
  </wsdl:message>
  <wsdl:message name="CalificaLeadSoapIn">
    <wsdl:part name="parameters" element="tns:CalificaLead" />
  </wsdl:message>
  <wsdl:message name="CalificaLeadSoapOut">
    <wsdl:part name="parameters" element="tns:CalificaLeadResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_LE_InsertaClientePotencialSoap">
    <wsdl:operation name="InsClientPotencial">
      <wsdl:input message="tns:InsClientPotencialSoapIn" />
      <wsdl:output message="tns:InsClientPotencialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalificaLead">
      <wsdl:input message="tns:CalificaLeadSoapIn" />
      <wsdl:output message="tns:CalificaLeadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_LE_InsertaClientePotencialSoap" type="tns:WS_LE_InsertaClientePotencialSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsClientPotencial">
      <soap:operation soapAction="http://tempuri.org/InsClientPotencial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalificaLead">
      <soap:operation soapAction="http://tempuri.org/CalificaLead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_LE_InsertaClientePotencialSoap12" type="tns:WS_LE_InsertaClientePotencialSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsClientPotencial">
      <soap12:operation soapAction="http://tempuri.org/InsClientPotencial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalificaLead">
      <soap12:operation soapAction="http://tempuri.org/CalificaLead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_LE_InsertaClientePotencial">
    <wsdl:port name="WS_LE_InsertaClientePotencialSoap" binding="tns:WS_LE_InsertaClientePotencialSoap">
      <soap:address location="http://localhost/DesarrolloUDEM/Legado%20Educativo/WS_ClientePotencial_LE/WS_LE_InsertaClientePotencial.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_LE_InsertaClientePotencialSoap12" binding="tns:WS_LE_InsertaClientePotencialSoap12">
      <soap12:address location="http://localhost/DesarrolloUDEM/Legado%20Educativo/WS_ClientePotencial_LE/WS_LE_InsertaClientePotencial.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>