WebLegadoEducativo02/WebLegadoEducativo02/Web References/WS_LE_Oportunidad/WS_LE_Oportunidad.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertaOportunidad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="contacto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nivelacademico" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_nombredelainstitucion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="recr_nombreinstitucion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_tienebeca" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertaOportunidadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertaOportunidadResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Respuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="identificador" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertaOportunidadSoapIn">
    <wsdl:part name="parameters" element="tns:InsertaOportunidad" />
  </wsdl:message>
  <wsdl:message name="InsertaOportunidadSoapOut">
    <wsdl:part name="parameters" element="tns:InsertaOportunidadResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_LE_OportunidadSoap">
    <wsdl:operation name="InsertaOportunidad">
      <wsdl:input message="tns:InsertaOportunidadSoapIn" />
      <wsdl:output message="tns:InsertaOportunidadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_LE_OportunidadSoap" type="tns:WS_LE_OportunidadSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertaOportunidad">
      <soap:operation soapAction="http://tempuri.org/InsertaOportunidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_LE_OportunidadSoap12" type="tns:WS_LE_OportunidadSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertaOportunidad">
      <soap12:operation soapAction="http://tempuri.org/InsertaOportunidad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_LE_Oportunidad">
    <wsdl:port name="WS_LE_OportunidadSoap" binding="tns:WS_LE_OportunidadSoap">
      <soap:address location="http://localhost/DesarrolloUDEM/Legado%20Educativo/WS_Oportunidad_LE/WS_LE_Oportunidad.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_LE_OportunidadSoap12" binding="tns:WS_LE_OportunidadSoap12">
      <soap12:address location="http://localhost/DesarrolloUDEM/Legado%20Educativo/WS_Oportunidad_LE/WS_LE_Oportunidad.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>