WebLegadoEducativo02/WebLegadoEducativo02/Web References/WS_LE_ConsEscuelaCuenta/WS_LE_ConsEscuelaCuenta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsEscuela">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nivel" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsEscuelaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsEscuelaResult" type="tns:ArrayOfCsEscuelaCuenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCsEscuelaCuenta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CsEscuelaCuenta" nillable="true" type="tns:CsEscuelaCuenta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CsEscuelaCuenta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="accountid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="recr_nivelid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="recr_codigopostal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address1_city" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address1_line3_col" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="recr_clavedelainstitucion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="recr_tipodeorganizacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address1_stateorprovince" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="new_municipio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="new_pais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="recr_publicaoprivada" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="recr_religiosanoreligiosa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="recr_eficienciaterminal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="recr_segmento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="recr_niveldecolegiatura" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ownerid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsEscuelaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsEscuela" />
  </wsdl:message>
  <wsdl:message name="ConsEscuelaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsEscuelaResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_LE_ConsEscuelaCuentaSoap">
    <wsdl:operation name="ConsEscuela">
      <wsdl:input message="tns:ConsEscuelaSoapIn" />
      <wsdl:output message="tns:ConsEscuelaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_LE_ConsEscuelaCuentaSoap" type="tns:WS_LE_ConsEscuelaCuentaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsEscuela">
      <soap:operation soapAction="http://tempuri.org/ConsEscuela" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_LE_ConsEscuelaCuentaSoap12" type="tns:WS_LE_ConsEscuelaCuentaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsEscuela">
      <soap12:operation soapAction="http://tempuri.org/ConsEscuela" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_LE_ConsEscuelaCuenta">
    <wsdl:port name="WS_LE_ConsEscuelaCuentaSoap" binding="tns:WS_LE_ConsEscuelaCuentaSoap">
      <soap:address location="http://localhost/DesarrolloUDEM/Legado%20Educativo/WS_LegadoEducativo/WS_LE_ConsEscuelaCuenta.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_LE_ConsEscuelaCuentaSoap12" binding="tns:WS_LE_ConsEscuelaCuentaSoap12">
      <soap12:address location="http://localhost/DesarrolloUDEM/Legado%20Educativo/WS_LegadoEducativo/WS_LE_ConsEscuelaCuenta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>