WebLegadoEducativo02/Web References/WS_LE_Beneficiarios/WS_LE_Beneficiarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsBeneficiario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="udem_solicituddecompra" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_beneficiario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_niveldeestudio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_escueladeprocedencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_carreranoudem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_grado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udem_debeca" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsBeneficiarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsBeneficiarioResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Respuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoMs" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Guid" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsBeneficiarioSoapIn">
    <wsdl:part name="parameters" element="tns:InsBeneficiario" />
  </wsdl:message>
  <wsdl:message name="InsBeneficiarioSoapOut">
    <wsdl:part name="parameters" element="tns:InsBeneficiarioResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_LE_BeneficiariosSoap">
    <wsdl:operation name="InsBeneficiario">
      <wsdl:input message="tns:InsBeneficiarioSoapIn" />
      <wsdl:output message="tns:InsBeneficiarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_LE_BeneficiariosSoap" type="tns:WS_LE_BeneficiariosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsBeneficiario">
      <soap:operation soapAction="http://tempuri.org/InsBeneficiario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_LE_BeneficiariosSoap12" type="tns:WS_LE_BeneficiariosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsBeneficiario">
      <soap12:operation soapAction="http://tempuri.org/InsBeneficiario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_LE_Beneficiarios">
    <wsdl:port name="WS_LE_BeneficiariosSoap" binding="tns:WS_LE_BeneficiariosSoap">
      <soap:address location="http://eventosudemtst.udem.edu.mx:8087/UDEMDESA/LegadoEducativo/WS_Beneficiarios_LE/WS_LE_Beneficiarios.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_LE_BeneficiariosSoap12" binding="tns:WS_LE_BeneficiariosSoap12">
      <soap12:address location="http://eventosudemtst.udem.edu.mx:8087/UDEMDESA/LegadoEducativo/WS_Beneficiarios_LE/WS_LE_Beneficiarios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>