WebLegadoEducativo02/Web References/WS_LE_ConsFamiliaContacto/WS_LE_ConsFamiliaContacto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsFam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Guidfam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsFamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsFamResult" type="tns:ArrayOfCsFamiliaContacto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCsFamiliaContacto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CsFamiliaContacto" nillable="true" type="tns:CsFamiliaContacto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CsFamiliaContacto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="new_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="new_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="new_contacto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="recr_familiarid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="new_familiar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="new_parentesco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsFamParent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="contactid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="familiarId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsFamParentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsFamParentResult" type="tns:ArrayOfCsFamiliaContacto" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsFamSoapIn">
    <wsdl:part name="parameters" element="tns:ConsFam" />
  </wsdl:message>
  <wsdl:message name="ConsFamSoapOut">
    <wsdl:part name="parameters" element="tns:ConsFamResponse" />
  </wsdl:message>
  <wsdl:message name="ConsFamParentSoapIn">
    <wsdl:part name="parameters" element="tns:ConsFamParent" />
  </wsdl:message>
  <wsdl:message name="ConsFamParentSoapOut">
    <wsdl:part name="parameters" element="tns:ConsFamParentResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_LE_ConsFamiliaContactoSoap">
    <wsdl:operation name="ConsFam">
      <wsdl:input message="tns:ConsFamSoapIn" />
      <wsdl:output message="tns:ConsFamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsFamParent">
      <wsdl:input message="tns:ConsFamParentSoapIn" />
      <wsdl:output message="tns:ConsFamParentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_LE_ConsFamiliaContactoSoap" type="tns:WS_LE_ConsFamiliaContactoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsFam">
      <soap:operation soapAction="http://tempuri.org/ConsFam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsFamParent">
      <soap:operation soapAction="http://tempuri.org/ConsFamParent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_LE_ConsFamiliaContactoSoap12" type="tns:WS_LE_ConsFamiliaContactoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsFam">
      <soap12:operation soapAction="http://tempuri.org/ConsFam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsFamParent">
      <soap12:operation soapAction="http://tempuri.org/ConsFamParent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_LE_ConsFamiliaContacto">
    <wsdl:port name="WS_LE_ConsFamiliaContactoSoap" binding="tns:WS_LE_ConsFamiliaContactoSoap">
      <soap:address location="http://eventosudemtst.udem.edu.mx:8087/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsFamiliaContacto.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_LE_ConsFamiliaContactoSoap12" binding="tns:WS_LE_ConsFamiliaContactoSoap12">
      <soap12:address location="http://eventosudemtst.udem.edu.mx:8087/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsFamiliaContacto.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>