WebLegadoEducativo02/Web References/WS_LE_ListaDePrecios/WS_LE_ListaDePrecios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsListaPrecios">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guidListaDePrecios" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsListaPreciosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsListaPreciosResult" type="tns:ArrayOfCsListaDePrecios" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCsListaDePrecios">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CsListaDePrecios" nillable="true" type="tns:CsListaDePrecios" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CsListaDePrecios">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="productpricelevelid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pricelevelid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pricelevel_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="productid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="product_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="uomid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="uom_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="transactioncurrencyid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="transactioncurrency_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="quantitysellingcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pricingmethodcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="percentage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="roundingpolicycode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="roundingoptioncode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="roundingoptionamount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsListaPreciosSoapIn">
    <wsdl:part name="parameters" element="tns:ConsListaPrecios" />
  </wsdl:message>
  <wsdl:message name="ConsListaPreciosSoapOut">
    <wsdl:part name="parameters" element="tns:ConsListaPreciosResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_LE_ListaDePreciosSoap">
    <wsdl:operation name="ConsListaPrecios">
      <wsdl:input message="tns:ConsListaPreciosSoapIn" />
      <wsdl:output message="tns:ConsListaPreciosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_LE_ListaDePreciosSoap" type="tns:WS_LE_ListaDePreciosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsListaPrecios">
      <soap:operation soapAction="http://tempuri.org/ConsListaPrecios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_LE_ListaDePreciosSoap12" type="tns:WS_LE_ListaDePreciosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsListaPrecios">
      <soap12:operation soapAction="http://tempuri.org/ConsListaPrecios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_LE_ListaDePrecios">
    <wsdl:port name="WS_LE_ListaDePreciosSoap" binding="tns:WS_LE_ListaDePreciosSoap">
      <soap:address location="http://eventosudemtst.udem.edu.mx:8087/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ListaDePrecios.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_LE_ListaDePreciosSoap12" binding="tns:WS_LE_ListaDePreciosSoap12">
      <soap12:address location="http://eventosudemtst.udem.edu.mx:8087/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ListaDePrecios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>